.MuiToolbar-root .RaAppBar-menuButton {
    color: rgba(0, 0, 0, 0.54);
}
.MuiToolbar-root .RaLoadingIndicator-loadedIcon {
    color: rgba(0, 0, 0, 0.54);
}
.MuiToolbar-root div .MuiIconButton-root {
    color: rgba(0, 0, 0, 0.54);
}

.MuiToolbar-gutters.RaToolbar-mobileToolbar {
    width: 20% !important;
}